@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

body {
  background-color: rgb(32, 32, 32) !important;
}
.nav_bar {
    background-color: #1ed760;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
  
  }
  .nav_bar_items {
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: space-between;
    font-family: 'Krona One', sans-serif;
  }
  .item {
    margin: 10px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
  }
  .logo {
    font-family: 'Krona One', sans-serif;
    color: #fff;
    font-size: 24px;
  }
  .container {
    margin: 125px;
    padding: 5px;
    border-radius: 16px;
    background-color: #1ed760;
  }
  .form_btn {
    background-color: #3cff81 !important;
  }

  .title {
    margin-top: 70px;
    color: white;
    display: flex;
    justify-content: center
  }
  
  .containerMusics {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    border-radius: 16px;
    background-color: #1ed760;
    margin-top: 50px
  }
  .subTitle {
    text-align: start;
    color: white;
  }
  
  .answer {
    color: green;
  }
  section {
    border: 5px solid #0adb5b;
    padding: 20px;
  }
  h1 {
    color: white;
  }
  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5)
  }
  
  h2 {
    text-align: center;
    margin-top: 20px !important;
    font-size: 18px;
  }
  
  td {
    padding: 15px;
    text-align: center;
  }

  footer{
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 30px
  }