.title {
    display: flex;
    color: white;
    justify-content: center;
    font-size: 2rem;
    margin-top: 2.5rem;
    margin-bottom: 0.75rem
}

.boxMusics {
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    color: white;
    gap: 60px
}

.music {
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-content: center;
}
.music img{
    width: 15rem;
    height: 15rem;
    align-items: center;
    border-radius: 1rem;
    object-fit: cover
}
.music h3{
    margin: 10px 0 0 0;
    font-size: 1.5rem;
    font-family: TitilliumWeb-Regular, 'Titillium Web';
    color: white;
    text-decoration: none;
}