.title {
    display: flex;
    color: white;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 10px
}

.boxMusics {
    padding: 30px;
    display: flex;
    justify-content: center;
    color: white;
    gap: 60px
}

.music {
    display: flex;
    flex-direction: column;
    align-content: flex-start
}
.music img{
    width: 150px;
    height: 150px;
    align-items: center;
    border-radius: 15px;
    object-fit: cover
}
.music h3{
    margin: 10px 0 0 0;
}
.music p{
    margin: 10px 0 0 0;
}